:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.canvas {
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}

.canvas > .row {
    display: flex;
    
}

.canvas > .row > .box {
    display: inherit;
}