:root {
    font-size: 16px;
    box-sizing: border-box;
}

body {
    margin: 0;
}

.canvas {
    display: flex;
    flex-direction: column;
    width: 50rem;
    height: 50rem;
    border: 1px solid #000;
}

.canvas > .row {
    display: flex;
    flex-basis: 3.125rem;
}

.canvas > .row > .box {
    display: inherit;
    flex-basis: 3.125rem;
}